<div class="container">
  <picture>
    <source media="(max-width: 1099px)" [srcset]="'https://glaciermark.s3-us-west-1.amazonaws.com/images/projects/'+project.src+'-portfolio.webp'" type="image/webp">
    <source media="(max-width: 1099px)" [srcset]="'https://glaciermark.s3-us-west-1.amazonaws.com/images/projects/'+project.src+'-portfolio.jpg'" type="image/jpeg">
    <source media="(min-width: 1100px)" [srcset]="'https://glaciermark.s3-us-west-1.amazonaws.com/images/projects/'+project.src+'-large.webp'" type="image/webp">
    <source media="(min-width: 1100px)" [srcset]="'https://glaciermark.s3-us-west-1.amazonaws.com/images/projects/'+project.src+'-large.jpg'" type="image/jpeg">
      <img [src]="'https://glaciermark.s3-us-west-1.amazonaws.com/images/projects/'+project.src+ '-thumbnail.webp'" [alt]="project.projectText" />
  </picture>
  <a
    [routerLink]="['/project']" [queryParams]="{ customer: project.customerId, project: project.projectId}"
    class="overlay"
  >
    <h2>{{project.customerName}}</h2>
    <h3>{{project.projectText}}</h3>
</a>
</div>
