.hero-section {
  background-image: url(../../assets/images/glacierHome_500w.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 70px;
  padding-bottom: 30px;
}

.contact-section {
  background-image: url(../../assets/images/penguinCrowd500.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20px;
}

.the {

}

.source {
  font-size: 30px;
}

@media (min-width: 500px) {
  .hero-section {
    background-image: url(../../assets/images/glacierHome_1000w.jpg);
  }
  .contact-section {
    background-image: url(../../assets/images/penguinCrowdOver_800w.jpg);
  }
}

@media (min-width: 800px) {
  .contact-section {
    background-image: url(../../assets/images/penguinCrowdOver_1300w.jpg);
  }

  .information-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 30px;
  }

  .color-section {
    display: flex;
    flex-flow: row;
  }

  app-color-tile {
    flex: 1;
    width: 100%;
  }

  .source {
    font-size: 35px;
    line-height: 2em;
  }
}

@media (min-width: 1020px) {
  .hero-section {
    background-image: url(../../assets/images/glacierHome_1500w.jpg);
  }

  .contact-section {
    background-image: url(../../assets/images/penguinCrowdOver_1500w.jpg);
  }

  app-contact-form {
    margin: 0 auto;
  }

  .information-grid {
    max-width: 930px;
    margin: 10px auto;
  }
}

