<div class="home-page">
  <section class="white-section">
    <app-section-header
      class="hero-section-header"
      src="../../assets/images/about/who-we-are.png"
      alt="who we are"
      headerColor="dark-blue"
      paragraphColor="paragraph-light-blue"
      header="Who we are and what we do"
      >Utilizing a human-centered design approach, we focus first on your customer’s needs. We then align your customer’s needs with your company’s business objectives and technical feasibility. All of our work is aligned to those three variables, with ongoing iteration toward a final solution that will grow your company with a desirable market solution.
    </app-section-header>
  </section>

  <section class="portfolio-section">
    <app-section-header
      src="../../assets/images/about/creativity-precision.png"
      alt="creativity and precision"
      header="creativity & precision"
      headerColor="dark-blue"
      paragraphColor="paragraph-dark-blue"
    >Your brand speaks volumes in the first few seconds a customer sees it. This can be negative or positive. We have the creativity, precision, and expertise to help you make a positive, lasting impression. Please look at some of the work from our portfolio, and don't hesitate to contact us with any&nbsp;questions.
  </app-section-header>
  </section>
  <section class="contact-section">
    <app-section-header
      class="contact-header"
      src="../../assets/images/about/contactIcons.png"
      alt="contact us"
      header="keep in touch or start a&nbsp;new&nbsp;conversation"
      headerColor="white"
      paragraphColor="paragraph-white19"
      iconWidth="237px"
    >Drop us a note. Whether you have questions about your current project or want to learn more about our services, we would love to hear from&nbsp;you.
    </app-section-header>
    <app-contact-form></app-contact-form>
  </section>

</div>
