<div class="home-page">
  <section class="hero-section">
    <app-section-header
      class="hero-section-header"
      headerClass="home-header"
      alt="who we are"
      headerColor="white-close"
      paragraphColor="paragraph-white-black-home"
      ><span class="the">THE</span> <span class="source"> SOURCE</span><br>for all your design and marketing needs
    </app-section-header>
  </section>
  <section class="white-section">
    <app-section-header
      header-class="home-header"
      class="hero-section-header"
      src="https://glaciermark.s3-us-west-1.amazonaws.com/images/about/who-we-are.png"
      alt="who we are"
      headerColor="dark-blue"
      paragraphColor="paragraph-light-blue"
      h1Header="who we are &amp; what&nbsp;we&nbsp;do"
      >Utilizing a human-centered design approach, we focus first on your customer’s needs. We then align your customer’s needs with your company’s business objectives and technical feasibility. All of our work is aligned to those three variables, with ongoing iteration toward a final solution that will grow your company with a desirable market solution.
    </app-section-header>
    <div class="information-grid">
      <app-information
        src="why-glacier"
        alt="Why choose glacier"
        title="WHY CHOOSE GLACIER"
        text="We start by understanding your business, your customers, your market and your brand. Without understanding these first, you're just guessing."
        buttonUrl="/services"
        anchor="consult"
      ></app-information>
      <app-information
        src="design-branding"
        alt="Design and branding"
        title="DESIGN AND BRANDING"
        text="Whether you are creating or growing a business, we help you connect with your customers through custom-designed experiences and solutions."
        buttonUrl="/services"
        delay="100ms"
        anchor="design"
      ></app-information>
      <app-information
        src="media-placement"
        alt="Media placement"
        title="MEDIA PLACEMENT"
        text="Glacier brings expert consulting and placement in Radio, TV, Print, Outdoor, Mobile Marketing and Online Advertising mediums and provides video and audo production for any application."
        buttonUrl="/services"
        delay="200ms"
        anchor="media"
      ></app-information>
      <app-information
        src="campaign-management"
        alt="Campaign Management"
        title="CAMPAIGN MANAGEMENT"
        text="We target and manage your multi-channel marketing, ensuring you optimized budgets and efforts, as well as providing a consistent voice to your customers."
        buttonUrl="/services"
        anchor="campaign"
      ></app-information>
      <app-information
        src="seo-ppc"
        alt="Seo / PPC"
        title="WEB DESIGN & SEO/PPC"
        text="It only takes 7 seconds for a user to decide whether your online presence is credible or forgettable. With our human-centered design approach, you will get noticed, and your ability to convert visits into transactions will improve."
        buttonUrl="/services"
        delay="100ms"
        anchor="seo"
      ></app-information>
      <app-information
        src="social-media"
        alt="Social and Mobile Marketing"
        title="SOCIAL & MOBILE MARKETING"
        text="Today, social marketing is an absolute necessity. Unlike traditional marketing avenues, social marketing forges a direct link with your customers, providing critical feedback to help your business adjust and grow."
        buttonUrl="/services"
        delay="200ms"
        anchor="social"
      ></app-information>
    </div>
  </section>
  <section class="portfolio-section">
    <app-section-header
      src="https://glaciermark.s3-us-west-1.amazonaws.com/images/about/creativity-precision.png"
      alt="creativity and precision"
      header="creativity & precision"
      headerColor="dark-blue"
      paragraphColor="paragraph-dark-blue"
      >Your brand speaks volumes in the first few seconds a customer sees it. This can be negative or positive. We have the creativity, precision, and expertise to help you make a positive, lasting impression. Please look at some of the work from our portfolio, and don't hesitate to contact us with any&nbsp;questions.
    </app-section-header>
    <div class="picture-box">
      <picture class="portfolio">
        <source media="(min-width: 1000px)" srcset="https://glaciermark.s3-us-west-1.amazonaws.com/images/HomePortfolio_1500w.jpg">
        <source media="(min-width: 800px)" srcset="https://glaciermark.s3-us-west-1.amazonaws.com/images/HomePortfolio_1000w.jpg">
        <source media="(min-width: 500px)" srcset="https://glaciermark.s3-us-west-1.amazonaws.com/images/HomePortfolio_800w.jpg">
        <img  src="https://glaciermark.s3-us-west-1.amazonaws.com/images/HomePortfolio_500w.jpg" alt="portfolio preview">
      </picture>
      <div class="overlay">
        <p>view portfolio</p>
        <button class="portfolio-button" routerLink="/portfolio">PORTFOLIO</button>
      </div>
    </div>
  </section>
  <section class="blue-action">
    <div class="call-box">
      <p class="cta">Like what you see? Contact us today to receive a 10% discount on your first order!</p>
      <button routerLink="/contact" >
        <p>
          GET STARTED
        </p>
        <i class="material-icons">keyboard_arrow_right</i>
      </button>
    </div>
  </section>
  <section class="color-section">
    <app-color-tiles
      class="purple-tile"
      title="EXPERIENCE DESIGN AND BRANDING"
      text="We work with you to define your story and your identity. It is who you are and how you will be remembered. The key to success is ensuring relentless consistency with every engagement the customer has with your brand."
      buttonUrl="/services"
      anchor="design"
      >
    </app-color-tiles>
    <app-color-tiles
      class="yellow-tile"
      title="MEDIA AND MARKETING"
      text="Our team of experts take great pride in assisting each client individually with a custom marketing mix that fits within the parameters of any established budget. From traditional media (like TV, radio, print, and billboards) to digital (including social media and online marketing), your message will be conveyed consistently across all media outlets, channels, and platforms. We can also lead or assist in the creation and production of all ads and content."
      buttonUrl="/services"
      delay="100ms"
      anchor="media"
      >
    </app-color-tiles>
    <app-color-tiles
      class="green-tile"
      title="CONSULTING SERVICES"
      text="Innovation doesn't just happen, and it's much more than coming up with cool ideas. We will work with you to help you define and implement the right solutions to grow your business and delight your customers."
      buttonUrl="/services"
      delay="200ms"
      anchor="consult"
      >
    </app-color-tiles>
  </section>
  <section class="contact-section">
    <app-section-header
      class="contact-header"
      src="https://glaciermark.s3-us-west-1.amazonaws.com/images/about/contactIcons.png"
      alt="contact us"
      header="how can we help you"
      headerColor="white"
      paragraphColor="paragraph-white19"
      iconWidth="237px"
      >Whether you have questions about your current project or want to learn more about our services, we would love to hear from&nbsp;you.
    </app-section-header>
    <div class="contact">
      <p>We would love to talk to you about your next project. Reach out and we will get you started.</p>
      <button name="Contact Us" routerLink="/contact">CONTACT US</button>
    </div>
  </section>
</div>
