<div class="home-page">
  <section class="white-section">
    <app-section-header
      class="hero-section-header"
      src="../../assets/images/about/who-we-are.png"
      alt="who we are"
      headerColor="dark-blue"
      paragraphColor="paragraph-light-blue"
      header="Who we are and what we do"
      >Utilizing a human-centered design approach, we focus first on your customer’s needs. We then align your customer’s needs with your company’s business objectives and technical feasibility. All of our work is aligned to those three variables, with ongoing iteration toward a final solution that will grow your company with a desirable market solution.
    </app-section-header>
    <div class="information-grid">
      <app-information
        src="why-glacier"
        alt="Why choose glacier"
        title="WHY CHOOSE GLACIER"
        text="We start by understanding your business, your customers, your market and your brand. Without understanding these first, you're just guessing."
        buttonUrl="/about"
        animation="fadeInUp"
        speed="fast"
      ></app-information>
      <app-information
        src="design-branding"
        alt="Design and branding"
        title="DESIGN AND BRANDING"
        text="Whether you are creating or growing a business, we help you connect with your customers through custom-designed experiences and solutions."
        buttonUrl="/services"
        animation="fadeInUp2"
        speed="fast"
      ></app-information>
      <app-information
        src="media-placement"
        alt="Media placement"
        title="MEDIA PLACEMENT"
        text="Glacier brings expert consulting and placement in Radio, TV, Print, Outdoor, Mobile Marketing and Online Advertising mediums and provides video and audo production for any application."
        buttonUrl="/services"
        animation="fadeInUp3"
        speed="fast"
      ></app-information>
      <app-information
        src="campaign-management"
        alt="Campaign Management"
        title="CAMPAIGN MANAGEMENT"
        text="We target and manage your multi-channel marketing, ensuring you optimized budgets and efforts, as well as providing a consistent voice to your customers."
        buttonUrl="/services"
        animation="fadeInUp"
        speed="fast"
      ></app-information>
      <app-information
        src="seo-ppc"
        alt="Seo / PPC"
        title="WEB DESIGN & SEO/PPC"
        text="It only takes 7 seconds for a user to decide whether your online presence is credible or forgettable. With our human-centered design approach, you will get noticed, and your ability to convert visits into transactions will improve."
        buttonUrl="/services"
        animation="fadeInUp2"
        speed="fast"
      ></app-information>
      <app-information
        src="social-media"
        alt="Social and Mobile Marketing"
        title="SOCIAL & MOBILE MARKETING"
        text="Today, social marketing is an absolute necessity. Unlike traditional marketing avenues, social marketing forges a direct link with your customers, providing critical feedback to help your business adjust and grow."
        buttonUrl="/services"
        animation="fadeInUp3"
        speed="fast"
      ></app-information>
    </div>
  </section>

  <section class="portfolio-section">
    <app-section-header
      src="../../assets/images/about/creativity-precision.png"
      alt="creativity and precision"
      header="creativity & precision"
      headerColor="dark-blue"
      paragraphColor="paragraph-dark-blue"
    >Your brand speaks volumes in the first few seconds a customer sees it. This can be negative or positive. We have the creativity, precision, and expertise to help you make a positive, lasting impression. Please look at some of the work from our portfolio, and don't hesitate to contact us with any&nbsp;questions.
  </app-section-header>
  </section>
  <app-call-to-action
  buttonUrl="/contact"
  class="blue-action"
>Like what you see? Contact us today to receive a 10% discount on your first order!

</app-call-to-action>
  <section class="contact-section">
    <app-section-header
      class="contact-header"
      src="../../assets/images/about/contactIcons.png"
      alt="contact us"
      header="keep in touch or start a&nbsp;new&nbsp;conversation"
      headerColor="white"
      paragraphColor="paragraph-white19"
      iconWidth="237px"
    >Drop us a note. Whether you have questions about your current project or want to learn more about our services, we would love to hear from&nbsp;you.
    </app-section-header>
    <app-contact-form></app-contact-form>
  </section>

</div>
