.space {
  height: 1000px;
}

.contact-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  background-image: url(../../assets/images/penguinCrowd500.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}



.contact-header {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

@media (min-width: 500px) {
  .contact-section {
    background-image: url(../../assets/images/penguinCrowd_800w.jpg);
  }
}

@media (min-width: 800px) {
  .contact-section {
    background-image: url(../../assets/images/penguinCrowd_1300w.jpg);
  }
  .information-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 30px;
  }
  .color-section {
    display: flex;
    flex-flow: row;
  }
  app-color-tile {
    flex: 1;
    width: 100%;
  }
}

@media (min-width: 1020px) {
  .contact-section {
    background-image: url(../../assets/images/penguinCrowd_1500w.jpg);
  }

  app-contact-form {
    margin: 0 auto;
  }
  .information-grid {
    max-width: 930px;
    margin: 10px auto;
  }
}


@media (min-width: 1300px) {
  .contact-section {
    background-image: url(../../assets/images/penguinCrowd_1500w.jpg);
  }
}
