.hero-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px auto 30px;
  width: 100%;
  justify-content: center;

  img {
    min-width: 100%;
    height: 100%;
  }
}

.hero-section-header {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.hero-image {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  height: 300px;
  min-width: 100%;
}

.contact-section {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.contact-image {
  grid-row-start: 1;
  grid-column-start: 1;
  height: 100%;
  min-width: 100%;

  img {
    min-width: 100%;
    height: 100%;
  }
}

.contact-box {
  grid-row-start: 1;
  grid-column-start: 1;
}


.source {
  font-size: 30px;
}

.portfolio-button {
  background-color: #7db2ce;
  border: 1px solid #7db2ce;
  border-radius: 2px;
  color: #ffffff;
  display: block;
  font-size: 15px;
  height: 36px;
  line-height: 36px;
  margin: 5px auto 40px;
  padding: 0 20px;

  &:hover {
    background-color: #ffffff;
    color: #7db2c3;
  }

  &:active {
    background-color: #7db2ce;
    color: #ffffff;
  }
}

.portfolio  {
  display: block;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  max-width: 1500px;
  margin: auto;

  img {
    margin-bottom: -4px;
    width: 100%;
    max-width: 1500px;
  }
}

.picture-box {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 50px 1fr 50px;

  .overlay {
    background-color: rgba(3, 27, 34, 0.5);
    border: 1px solid #ffffff;
    border-radius: 2px;
    grid-column-start: 2;
    grid-row-start: 2;
    visibility: visible;

    p {
      color: #ffffff;
      font-size: 20px;
      margin-top: 20px;
      text-align: center;
    }

    button {
      margin-top: 30px;
    }
  }

  &:hover .overlay{
    visibility: visible;
  }
}

h4 {
  font-size: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

@media (min-width: 500px) {
  .hero-section {
    grid-template-rows: 3fr 212px 2fr;

  }

  .hero-image {
    height: 380px;
  }

  .picture-box {
    grid-template-columns: 1fr 350px 1fr;

    .overlay {
      height: 165px;

      p {
        font-size: 30px;
      }
    }
  }

}

@media (min-width: 800px) {
  .contact-section {

  }

  .information-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 30px;
  }

  .color-section {
    display: flex;
    flex-flow: row;
  }

  app-color-tile {
    flex: 1;
    width: 100%;
  }

  .source {
    font-size: 35px;
    line-height: 2em;
  }

  .hero-image {
    height: 450px;
  }

  .hero-section {
    height: 450px;
  }

  .picture-box .overlay {
    visibility: hidden;
  }
}

@media (min-width: 1000px) {
  .hero-section {
    height: 450px;
    overflow: hidden;

    img {
      height: auto;
      margin-top: -100px;
    }
  }

  .hero-image {
    height: auto;
  }
}

@media (min-width: 1020px) {

  .contact-section {

  }

  app-contact-form {
    margin: 0 auto;
  }

  .information-grid {
    margin: 10px auto;
    max-width: 930px;
  }
}

@media (min-width: 1500px) {
  picture {
    margin-bottom: 50px;
  }
  .hero-section {
    img {
      margin-top: -150px;
    }
  }
}
