<section class="team-member">
  <div class="team-grid">
    <picture>
      <source
        [srcset]="'https://glaciermark.s3-us-west-1.amazonaws.com/images/team/' + imgUrl +'.webp'"
        type="image/webp"
      >
      <source
        [srcset]="'https://glaciermark.s3-us-west-1.amazonaws.com/images/team/' + imgUrl +'.jpg'"
        type="image/jpeg"
      >
      <img [src]="'https://glaciermark.s3-us-west-1.amazonaws.com/images/team/' + imgUrl +'.jpg'" [alt]="name" />
    </picture>
    <div class="team-member-text">
      <h3>{{name}}</h3>
      <h4>{{title}}</h4>
      <ng-content></ng-content>
    </div>
  </div>
</section>
