<div class="sub-page">
  <section class="hero-section">
    <img
      class="hero-img"
      src="../../assets/images/about/glacierBlue_1000w.jpg"
      alt=""
      />
    <app-section-header
      class="hero-section-header"
      src="../../assets/images/about/who-we-are.png"
      alt="who we are"
      paragraphColor="paragraph-white-black"
      >Is your brand relevant today and tommorrow, accross all your offerings? Unless your brand promise and customer experiences are identical, the answer is no.
    </app-section-header>
    <h2 class="hero-h2">We can help</h2>
  </section>
  <section class="info-section">
    <div class="info">
      <h3>Glacier Marketing is an award-winning design and marketing firm. We can help you create exceptional user experiences at an affordable price.</h3>
      <div>
        <p>We are the SOURCE for all your design and marketing needs. We help start-ups looking to accelerate growth and help established organization looking to re-invent and strengthen their position in the marketplace.</p>
        <p>We can customize our services to maximize the effectiveness of your design and marketing campaigns, focusing specifically on your customers, and ensuring that your brand promise is embedded in those experiences.</p>
        <p>We love what we do, and that passion is evident in our award-winning services.</p>
        <p>BRANDING<br>EXPERIENCE DESIGN<br>MEDIA & MARKETING<br>SEO / MOBILE<br>CONSULTING</p>
      </div>
    </div>
  </section>
  <section class="teams-section">
    <div class="team">
      <h2 class="team-h2">meet our team</h2>
      <div class="team-members">
        <app-team-member
          imgUrl="jeremy"
          name="Jeremy Dresen"
          title="Owner / Marketing Director"
          ><p class="team-text">When I was really young, I knew I wanted one thing. A Corvette. Not because my dad had one, and not because a neighbor did. In fact, I never really knew where that want came from. Years later (many cars later too) I realized that genius marketing is why a 5 year old boy wanted a car that he could only afford thirty-something years later.</p>
          <p class="team-text">My path in marketing began in the 90’s while in college, and it’s been a blast to learn, grow, and ride the every changing wave of marketing ever since. I love what I do, and believe that love is manifest in every project my team and I work on.</p>
        </app-team-member>
        <app-team-member
          imgUrl="david"
          name="David Dresen"
          title="Owner / Creative Director"
          ><p class="team-text">I have been in design for over 30 years, and ever since I remember, I knew I was going to be a designer. Well, actually I thought I was going to be an Artist, but a very wise Professor pulled me out from under a pile of Acrylic paint one day, and handed me a Rapidograph pen…and the rest is history.</p>
          <p class="team-text">Within the world of design, I found my passion, and a way to quench my hunger for the details. As the great Charles Eames stated, “The details are not the details. They make the design.“ That is why I am passionate about design.</p>
        </app-team-member>
        <app-team-member
          imgUrl="holly"
          name="Holly West"
          title="Sales / Marketing / Project Manager"
          ><p class="team-text">Whether I’m standing on a ditch bank in rural Idaho or sitting in a conference room with hospital executives, to loosely quote Will Rogers, “I’ve never met anyone I didn’t like”. My passion is people – their successes on both a personal and professional level. I found my niche in college while employed with the on-campus Public Relations department.</p>
          <p class="team-text">After completing my education with a public relations and marketing degree, I’ve spent much of my career in the health care industry. I love strategizing and implementing a campaign, and through those efforts watching a business become recognized. My greatest joys come from balancing my roles as a mom, wife, and Glacier representative, all while continuing to develop amazing relationships.</p>
        </app-team-member>
        <app-team-member
          imgUrl="tammy"
          name="Tammy Dresen"
          title="Developer/Designer"
          ><p class="team-text">I love programming. I also like design. What I really love is developing websites that effectively and beautifully communicate with users. As a developer and designer, my skills span both the creative side of design as well as front and back end dev. One of my strengths is that I understand the importance of ensuring the design intent is followed through into the development of the project. This understanding beneﬁts our clients and their customers.</p>
        </app-team-member>
        <app-team-member class="chris"
          imgUrl="chris"
          name="Chris Wallace"
          title="SEO / PPC / Developer / Social Media"
          ><p class="team-text">I have been in the internet marketing industry since the 90’s, starting with DoubleClick – who invented banner advertising during the dotcom boom in the early 2000s. I’ve been involved in the design, optimization (SEO) and management of hundreds of websites across many industries both in B2B and B2C sectors. I specialize in making sure that websites are designed and optimized so that consumers can find them when they’re actively searching. I also expand the client’s visibility across social media networks to engage new prospects and customers.</p>
        </app-team-member>
        <app-team-member class="aaron"
          imgUrl="aaron"
          name="Aaron Morgan"
          title="Digital Marketing / SEO / Developer"
          ><p class="team-text">I love Digital Marketing! As a native of east Idaho, I appreciate the local businesses I get to work with. Growing up in a household of an entrepreneur, I learned at an early age what it takes to make a local business successful. This has implanted in me a respect for local entrepreneur’s. I’ve been in digital marketing and SEO for a number of years and have worked with one of the nation’s largest Greeting Card companies as well as local businesses. Social Media, Facebook Ads, Google Ads, Google Analytics, on-page SEO, Citations, Rep Management, Local SEO, Web Dev and Project management…I love it all.</p>
        </app-team-member>
      </div>
    </div>
    <div class="team">
      <h2 class="team-h2">meet our partners</h2>
      <div class="team-members">
        <app-team-member
          imgUrl="arcane"
          name="Arcane Marketing"
          title="SEO Strategy / Deployment"
          ><p class="team-text">Arcane Marketing has a skilled team of professional online marketers. They specialize in advanced SEO strategy and deployment, Pay Per Click Management, Social Media Marketing, Brand Reputation Management, and Website Development & Design. They help your company achieve its business goals with complete control of your online presence by providing a comprehensive online marketing strategy.</p>
        </app-team-member>
        <app-team-member
          imgUrl="mikey"
          name="Mikey Borup"
          title="Videographer"
          ><p class="team-text">I am an After Eﬀects and Video Production professional and motion graphics artist. I believe strongly that it’s not just about creating a great video…it’s also about creating the right video. I am also an expert YouTuber, and have helped build several channels that currently have tens of thousands of subscribers, including my personal channel which has nearly 170K subscribers and 8.3 million views.</p>
        </app-team-member>
      </div>
    </div>
  </section>
  <app-call-to-action
    buttonUrl="/contact"
    className="penguin"
    >Compete with the big boys. Contact us today and receive a 10% discount on your first order!
  </app-call-to-action>
</div>
