<div class="sub-page">
  <section class="hero-section">
    <img
      class="hero-img"
      src="../../assets/images/about/glacierBlue_1000w.jpg"
      alt=""
    />
    <app-section-header
      class="hero-section-header"
      src="../../assets/images/about/who-we-are.png"
      alt="who we are"
      paragraphColor="paragraph-white-black"
    >Is your brand relevant today and tommorrow, accross all your offerings? Unless your brand promise and customer experiences are identical, the answer is no.
    </app-section-header>
    <h2>We can help</h2>
  </section>
  <p class="space">space</p>
  <p class="space">space</p>
  <p class="space">space</p>
</div>
