.hero-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto auto;
  justify-content: center;

}
.hero-section-header {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.hero-img {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  height: 430px;
  min-width: 100%;
}

h2 {
  grid-column-start: 1;
  grid-row-start: 3;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  padding-bottom: 40px;
  font-weight: 300;
  line-height: 40px;
  text-shadow: 0px 0px 6px rgba(2, 30, 46, 0.7);
}

.info {
  margin: 20px;
  h3 {
    font-size: 30px;
    padding-bottom: 30px;
    line-height: 1.2em;
  }
  div {
    font-size: 14px;
    line-height: 1.7em;
  }
  p {
    padding: 10px 0;
  }
}

.space {
  height: 1000px;
}

@media (min-width: 800px) {
  .hero-section {
    grid-template-rows: 90px auto auto;
  }
  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 80px 60px 30px 60px;
    gap: 50px;
    h3 {
      margin-top: 5px;
    }
  }

}

@media (min-width: 900px) {
  .hero-section {
    height: 450px;
    overflow: hidden;
  }
  .info-section {
    display: flex;
    justify-content: center;
  }
  .info {
    grid-template-columns: 390px 390px;
    margin: 80px auto 30px auto;
    h3 {
      font-size: 40px;
    }
  }
  .hero-img {
    height: auto;
  }

}
