<app-navbar class="header"></app-navbar>
<div class="mobile-nav" id="mobile-navbar">
  <button
    class="menu-icon close"
    name="Toggle Menu Button"
    role="button"
    aria-pressed="false"
    [class.open]="opened"
    (click)="sidenav.toggle(); toggleOpen()"
    [@menuAnimation]="openValue"

    >
    <span  class="icon1" ></span>
    <span class="icon2" ></span>
    <span class="icon3" ></span>
  </button>
  <a routerLink="/home" class="home-link">
    <img
      class="logo"
      src="../../../assets/extraImages/glacier-marketing-idaho-falls.png"
      alt="Glacier Marketing Eastern Idaho"
      />
  </a>
</div>
<mat-sidenav-container
  class="glacier side-drawer"
  (backdropClick)=toggleClose()
  >
  <mat-sidenav
    #sidenav
    mode="over"
    position="start"
    class="sidenav">
    <mat-nav-list class="glacier-list" disableRipple>
      <a mat-list-item
        *ngFor="let item of navigation"
        (click)="sidenav.close()"
        (mousedown)="toggleOpen()"
        routerLinkActive
        #routerLinkActiveInstance="routerLinkActive"
        [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
        [class.list-item-active]="routerLinkActiveInstance.isActive"
        [routerLink]="[item.link]"
        class="list-item"
      >{{item.title}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content glacier-sidenav">
    <main>
      <router-outlet></router-outlet>
    </main>
    <app-footer [navigation]="navigation"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
