.navbox {
  background: linear-gradient( rgba(66, 78, 92, 0.8), transparent);
  border-bottom: 1px solid rgba(255, 255, 255, .6);
  border-top: 12px solid rgb(125, 178, 206);
  height: 93px;
  transition: all 0.3s linear 0s;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, .1);
  position:fixed;
  top: 0;
}

nav {
  display: grid;
  grid-template-columns: 10px 1fr 1fr 10px;
  max-width: 1185px;
  margin: 0 auto;
  height: 93px;
  transition: all 0.3s linear 0s;
}

.home-link {
  grid-column-start: 2;
  grid-row-start: 1;
  align-self: center;
  transition: all 0.3s linear 0s;
}

.logo {
  width: 161px;
  height: 57px;
  margin-top: 5px;
  transition: all 0.3s linear 0s;
}



.nav-links {
  align-items: center;
  grid-column-start: 3;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-items: center;
  align-items: center;
  transition: all 0.3s linear 0s;
  display: flex;

  li {
    transition: all 0.3s linear 0s;
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &:hover a {
      color: #7db2ce;
      cursor: pointer;
      transition: all 0.3s linear 0s;
    }
  }

  a {
    text-decoration: none;
    padding: 30px 10px;
    font-size: 14px;
    font-weight: 400px;
    color: rgb(255, 255, 255);
    transition: all 0.3s linear 0s;
    display: block;
    width: 100%;
    text-align: center;

    &:link {
      color: rgb(255, 255, 255);
      background-color: transparent;
    }
    &:visited {
      color: rgb(255, 255, 255);
      background-color: transparent;
    }
    &:hover {
      color: #7db2ce;
      background-color: transparent;
    }

    &:selected {
      color: #7db2ce;
      background-color: red;
    }
    &:active {
      background-color: transparent;
    }
    &:focus {
      background-color: transparent;
    }
  }
}

a.selected::after {
  width: 0;
  height: 0;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-top: 20px solid #7db2ce;
  content: ' ';
  position: absolute;
  left: 50% - 20px;
  top: -5px;
  transition: all 0.3s linear 0s;


}

.sticky {
  background: linear-gradient( rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85));
  height: 63px;
  position: fixed;
  transition: all 0.3s linear 0s;

  nav {
    height: 63px;
    transition: all 0.3s linear 0s;
  }

  .logo {
    height: 40px;
    width: auto;
    transition: all 0.3s linear 0s;
  }

  li {
    height: 100%;
    line-height: 50px;
    transition: all 0.3s linear 0s;
  }

}

.sticky a, .home-nav.sticky .nav-links a {
  &:link {
    color: #000000;
    transition: all 0.3s linear 0s;
    padding: 7px;
  }

  &:visited {
    color: #000000;
    transition: all 0.3s linear 0s;
  }

  &:selected {
    color: #7db2ce;
    transition: all 0.3s linear 0s;
  }

}

@media (min-width: 1185px) {
  .home-nav {
    grid-template-columns: 10px auto 600px 10px;
  }
}

