
form {
  padding: 15px;
}

label {
  color: #ffffff;
  display: block;
  font-size: 14px;
  margin-top: 10px;
  display: block;
}

.response {
  color: #ffffff;
  font-size: 16px;
  margin-top: 30px;
}

input, textarea {
  background-color: #ffffff;
  border: 1px solid #fff;
  border-radius: 2px;
  color: #1a1c27;
  display: block;
  font-size: 14px;
  margin-bottom: 25px;
  margin-top: 5px;
  padding: 10px 20px;
  width: 100%;
  max-width: 100%;
}

textarea {
  height: 150px;
}

button {
  background-color: rgb(125, 178, 206);
  background-color: rgba(125, 178, 206, 0.7);
  border: 1px solid #ffffff;
  border-radius: 2px;
  color: #ffffff;
  font-size: 15px;
  margin-top: 15px;
  padding: 10px 20px;
  width: 120px;

  &:hover {
    background-color: #ffffff;
    color: rgb(125, 178, 206);
  }

  &:active {
    background-color: rgb(125, 178, 206);
    color: #ffffff;
  }
}

.invalid {
  background-color: transparent;
  border: 1px solid #a1b1bc;
  color: #a1b1bc;

  &:hover {
    background-color: transparent;
    border: 1px solid #a1b1bc;
    color: #a1b1bc;
  }
}

.invalid-feedback {
  color: #b11313;
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-top: -10px;
  margin-bottom: 14px;
}

.contact-grid {
  margin: 20px;

  & .left {
    background-color: rgba(125, 178, 206, 0.7);
    padding: 30px;

    & address, a, p, h1 {
      color: #ffffff;
      font-style: normal;
      font-weight: 300px;
      padding-bottom: 20px;
      text-decoration: none;
    }

    & h1 {
      font-size: 30px;
    }

    & p {
      font-size: 14px;
    }
  }

  & .right {
    background-color: rgba(125, 178, 206, 0.7);
    padding: 30px;
  }
}

@media (min-width: 800px) {
  .contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .left {
    grid-column-start: 1;
    margin: 20px;
    margin-left: 40px;
  }

  .right {
    grid-column-start: 2;
    margin: 20px;
    margin-right: 40px;
  }
}

@media (min-width: 1020px) {
  .contact-grid {
    grid-template-columns: 470px 470px;
    margin: 20px auto;
    width: 940px;
  }
}
