<section>
  <img
    [src]="'../../../assets/images/offering/' + src + '-150x150.jpg'"
    [srcset]="'../../../../../assets/images/offering/' + src + '-300x300.jpg 300w, ../../../../../assets/images/offering/' + src + '-150x150.jpg 150w, ../../../../../assets/images/offering/' + src + '-768x768.jpg 768w, ../../../../../assets/images/offering/' + src + '-570x570.jpg 570w'"
    [alt]="title"
    sizes="(max-width: 300px) 100vw, 300px"
  />
  <h3>{{title}}</h3>
  <p>{{text}}</p>
  <p *ngIf="text2">{{text2}}</p>
  <ng-container *ngIf="keywords">
    <p><span *ngFor="let item of keywords" >{{item}}</span></p>
  </ng-container>
</section>
