<section>
  <picture>
    <source
    [srcset]="'https://glaciermark.s3-us-west-1.amazonaws.com/images/offering/' + src + '-300x300.webp'"
    type="image/webp"
    >
    <source
      [srcset]="'https://glaciermark.s3-us-west-1.amazonaws.com/images/offering/' + src + '-300x300.jpg'"
      type="image/jpeg"
    >
    <img
    [src]="'https://glaciermark.s3-us-west-1.amazonaws.com/images/offering/' + src + '-300x300.webp'"
    [alt]="title"
    />
  </picture>
  <h3>{{title}}</h3>
  <p>{{text}}</p>
  <p *ngIf="text2">{{text2}}</p>
  <ng-container *ngIf="keywords">
    <p>
      <span *ngFor="let item of keywords" >{{item}}</span>
    </p>
  </ng-container>
</section>
