<div class="sub-page">
  <section class="portfolio-section">
    <app-section-header
      src="../../assets/images/about/creativity-precision.png"
      alt="creativity and precision"
      header="creativity & precision"
      headerColor="dark-blue"
      paragraphColor="paragraph-dark-blue"
      >Your brand speaks volumes in the first few seconds a customer sees it. This can be negative or positive. We have the creativity, precision, and expertise to help you make a positive, lasting impression. Please look at some of the work from our portfolio, and don't hesitate to contact us with any&nbsp;questions.
    </app-section-header>
  </section>
  <section
    *ngIf="{projects: dataService.allProjects$ | async } as vm"
    class="portfolio"
    >
    <p>There Are Projects</p>
    <p *ngFor="let project of vm.projects">Project: {{project.customerName}}</p>
  </section>
  <app-call-to-action
    buttonUrl="/contact"
    className="penguin"
  >Like what you see? Contact us today to receive a 10% discount on your first order.
  </app-call-to-action>
</div>
