.portfolio-section {
  display: grid;
  grid-template-columns: 1fr;
}

.portfolio-header {
  padding-top: 50px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

#penguins {
  background-image: url('../../assets/images/penguinJump_500w.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 950px;
  z-index: -1;
}

@media (min-width: 500px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #penguins {
    background-image: url('../../assets/images/penguinJump_800w.jpg');
    height: 750px;
  }
}

@media (min-width: 800px) {
  .portfolio-header {
    padding-top: 100px;
  }

  .gallery-section {
    padding: 30px;
    margin-bottom: 30px;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #penguins {
    background-image: url('../../assets/images/penguinJump_1000w.jpg');
    height: 1810px;
  }
}

@media (min-width: 1000px) {
  #penguins {
    background-image: url('../../assets/images/penguinJump_1500w.jpg');
    height: 1430px;
    min-width: 100%;
    width: auto;
  }
}

@media (min-width: 1100px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .quad-project {
    grid-column-end: span 2;
    grid-row-end: span 2;
  }

  .wide-project {
    grid-column-end: span 2;
  }

  .tall-project {
    grid-row-end: span 2;
  }

}

@media (min-width: 1200px) {
  .gallery-section {
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
  }

  .gallery {
    grid-column-start: 2;
    padding: 30px 0;
  }
}
