<div class="sub-page">
  <section class="contact-section">
    <picture class="contact-image">
      <source media="(max-width: 500px)" srcset="https://glaciermark.s3-us-west-1.amazonaws.com/images/glacier-marketing-contact-us_500w.webp" type="image/webp">
      <source media="(max-width: 500px)" srcset="https://glaciermark.s3-us-west-1.amazonaws.com/images/glacier-marketing-contact-us_500w.jpg" type="image/jpeg">
      <source media="(max-width: 800px)" srcset="https://glaciermark.s3-us-west-1.amazonaws.com/images/glacier-marketing-contact-us_800w.webp" type="image/webp">
      <source media="(max-width: 800px)" srcset="https://glaciermark.s3-us-west-1.amazonaws.com/images/glacier-marketing-contact-us_800w.jpg" type="image/jpeg">
      <source media="(max-width: 1000px)" srcset="https://glaciermark.s3-us-west-1.amazonaws.com/images/glacier-marketing-contact-us_1000w.webp" type="image/webp">
      <source media="(max-width: 1000px)" srcset="https://glaciermark.s3-us-west-1.amazonaws.com/images/glacier-marketing-contact-us_1000w.jpg" type="image/jpeg">
      <source media="(max-width: 1300px)" srcset="https://glaciermark.s3-us-west-1.amazonaws.com/images/glacier-marketing-contact-us_1300w.webp" type="image/webp">
      <source media="(max-width: 1300px" srcset="https://glaciermark.s3-us-west-1.amazonaws.com/images/glacier-marketing-contact-us_1300w.jpg" type="image/jpeg">
      <source media="(min-width: 1300px)" srcset="https://glaciermark.s3-us-west-1.amazonaws.com/images/glacier-marketing-contact-us_1500w.webp" type="image/webp">
      <source media="(min-width: 1000px)" srcset="https://glaciermark.s3-us-west-1.amazonaws.com/images/glacier-marketing-contact-us_1500w.jpg" type="image/jpeg">
      <img  src="https://glaciermark.s3-us-west-1.amazonaws.com/images/glacier-marketing-contact-us_500w.webp" alt="portfolio preview">
    </picture>
    <div class="contact-box">
      <app-section-header
        class="contact-header"
        src="../../assets/extraImages/about/contact_glacier_marketing.png"
        alt="Contact Glacier Marketing for radio, tv, digital marketing"
        h1Header="how can we help you"
        headerColor="white"
        paragraphColor="paragraph-white19"
        iconWidth="237px"
        >Whether you have questions about your current project or want to learn more about our services, we would love to hear from&nbsp;you.
      </app-section-header>
      <app-contact-form>
      </app-contact-form>
    </div>
  </section>
</div>

