.contact-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  background-image: url(../../assets/images/penguinCrowd500.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
}

.contact-header {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

@media (min-width: 500px) {
  .contact-section {
    background-image: url(../../assets/images/penguinCrowd_800w.jpg);
  }
}

@media (min-width: 800px) {
  .contact-section {
    background-image: url(../../assets/images/penguinCrowd_1300w.jpg);
  }
}

@media (min-width: 1020px) {
  app-contact-form {
    margin: 0 auto;
  }

}

@media (min-width: 1300px) {
  .contact-section {
    background-image: url(../../assets/images/penguinCrowd_1500w.jpg);
  }
}
