<main class="sub-page">
  <div class="services">
    <section>
      <app-services-header
        title="DESIGN & BRANDING"
        src="design-icons"
        text="A creative and precisely implemented brand strategy touches all aspects of your business, and is directly connected to your customer’s perception of your business. We begin by clearly understanding your customers, business objectives, competition and vision, which is the framework for us to build your successful identity."
        imgWidth="145px"
        background="rgb(107, 99, 131)"
        anchor="design"
      >
      </app-services-header>
      <main class="tile-section">
        <app-services-tile
          src="Boost"
          alt="Boost Your Brand"
          title="Branding"
          text='We work closely with you to help define your brand strategy, to identity, and most importantly, deliver your promise through execution. The solutions we design will ensure that across every touch point of your business, that promise is evident.'
          text2="Whether you are creating or growing a business, we can help you connect with your customers through custom designed experiences and solutions that bring your brand to life."
          keytext="BRAND STRATEGY,BRAND IDENTITY,BRAND EXECUTION,BRAND CONSULTATION"
        ></app-services-tile>
        <app-services-tile
          src="Innovation"
          alt="Innovation"
          title="Experience Design"
          text='Our focus on the customer is the first step in designing the right solution. We use a human-centered design approach that combines the users needs, your business strategy, and technological capabilities to create an innovation focal point where creativity thrives.'
          text2="By using this strategy, we ensure that the experiences we design compliment your brand, start with your customer, and focus on innovation."
          keytext="CUSTOMER RESEARCH,DIGITAL DESIGN,COMMUNICATIONS DESIGN,MOBILE DESIGN"
        ></app-services-tile>
        <app-services-tile
          src="Creative"
          alt="Creative Thinking"
          title="Marketing Design"
          text='The successful design and implementation of your marketing strategy all play out in your collateral. If your designs do not meet your business objectives, support your brand promise, meet your customers’ expectations, and wow them, you are missing the mark.'
          keytext="MARKET RESEARCH,CONTENT STRATEGY,MOBILE DESIGN,CREATIVE DESIGN"
        ></app-services-tile>
      </main>
    </section>
    <section>
      <app-services-header
        title="MEDIA & MARKETING"
        src="media-icons"
        text="Building a relationship with your customers is one of the hardest things to do in marketing. If you don’t understand what your customers do on a day-to-day basis, you have no chance. We can help you make that connection that will keep them coming back."
        imgWidth="145px"
        background="rgb(195, 135, 65)"
        anchor="media"
      >
      </app-services-header>
      <main class="tile-section">
        <app-services-tile
          src="Media"
          alt="Media Channels"
          title="Media Placement"
          text='The world is changing rapidly, as technology continues to evolve. This ever changing landscape can be difficult to manage and costly to maintain. Our experience and expertise can help you manage all your media channels to ensure you are optimizing your budget.'
          text2="Our team can also handle your marketing needs for promotions and events, with over 30 years of award winning experience. Our understanding of today’s marketplace, along with the ability to think outside the box, provides our clients with cost effective marketing campaigns that are memorable and deliver results."
        ></app-services-tile>
        <app-services-tile
          src="Relevant"
          alt="Relevant Marketing"
          title="Social & Mobile Marketing"
          text='Today, social marketing is no longer a question, it’s an absolute necessity. Unlike traditional marketing avenues, social marketing provides a direct link to and from your customers, bringing critical feedback for your business to adjust and grow.'
          text2="As unique as each marketplace and business may be, each solution is equally customizable, and complete with analysis and reports. As a team, we will work together in keeping you in the loop with your customers and your customers actively engaged with your business."
        ></app-services-tile>
        <app-services-tile
          src="Target"
          alt="Hit Your Target"
          title="Campaign Management"
          text='We will help you target and manage your multi-channel marketing, ensuring you are optimizing your budgets and efforts, as well as providing a consistent voice to your customers.'
          text2="Our team works closely with you to insure all of the critical elements are captured, then conveyed consistently through each media outlet. We have the knowledge and understanding to plan, design, and execute the perfect solution for your business."
        ></app-services-tile>
        <app-services-tile
          src="Optimization"
          alt="Optimization"
          title="SEO/PPC"
          text='You can have an award winning website, but if no one can find you, it doesn’t matter. At Glacier Marketing, we’ll make sure your website is beautiful, functional, and discoverable by your customers!'
          text2="Our developers understand how the framework, or “back-end,” directly affects the ability to be found by your customers. They work seamlessly with our SEO specialists to assure your site is search and user friendly, as well as usable (responsive) across all mobile platforms. With one of our aggressive SEO packages, plus the ability to add PPC campaigns, there truly is an SEO/PPC solution for every budget. Plus, we provide regular analytics, reports and support whenever you need it."
        ></app-services-tile>
      </main>
    </section>
    <section>
      <app-services-header
        title="CONSULTING"
        src="consulting-icons"
        text="Whether you are missing the mark in your marketing campaigns, or your brand has lost its identity, we can help. Building off of the foundation of a human-centered design approach, we combine insights, collaboration, and exceptional execution to come up with a strategy that will get you ahead of your competition."
        imgWidth="100px"
        background="rgb(112, 130, 107)"
        anchor="consulting"
      >
      </app-services-header>
      <main class="tile-section">
        <app-services-tile
          src="Boost"
          alt="Boost Your Brand"
          title="Branding"
          text='Your brand speaks volumes in the first few seconds a customer is introduced to it, and first impressions can be either positive or negative. We have the expertise to help you make a positive first impression that lasts.'
          text2="We can help you find the right solution whether you are an established company looking to stay ahead of the competition or a new business eyeing the top."
        ></app-services-tile>
        <app-services-tile
          src="Innovation"
          alt="Innovation"
          title="Experience"
          text='If your customers are not having delightful experiences, you are not engaging with them correctly.'
          text2="Through our human-centered design approach and our innovative process, we can evaluate what you are providing to your customers and identify what your customers are expecting. Then we can help you create those experiences that will build lasting relationships."
        ></app-services-tile>
        <app-services-tile
          src="Creative"
          alt="Creative Thinking"
          title="Marketing"
          text='We will help you target and manage your multi-channel marketing, ensuring you are optimizing your budgets and efforts, as well as providing a consistent voice to your customers.'
          text='We leverage insights, customer understanding, and experience to define what marketing plans should be utilized and how you enable them to target your customers.'
        ></app-services-tile>
      </main>
    </section>
  </div>
</main>

