.hero-section {
  background-image: url("../../assets/images/services-glacier_500w.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto auto;
  justify-content: center;
}

.hero-section-header {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.hero-img {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  height: 100%;
  min-width: 100%;
}

.hero-h1 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
  grid-column-start: 1;
  grid-row-start: 3;
  padding-bottom: 40px;
  text-align: center;
  text-shadow: 0px 0px 6px rgba(2, 30, 46, 0.7);
}
.services {
  padding-top: 50px;
  width: 100%;
}

.tile-section {
  padding: 30px 50px;
}

@media (min-width: 800px) {
  .hero-section {
    background-image: url("../../assets/images/services-glacier_1000w.jpg");
  }
}

@media (min-width: 800px) {
  .services {
    padding: 30px;
  }

  .tile-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 30px;
  }

  .hero-section {
    grid-template-rows: 100px auto auto;
  }
}

@media (min-width: 800px) {
  .tile-section {
    gap: 30px;
  }
}

@media (min-width: 900px) {
  .hero-section {
    height: 450px;
    overflow: hidden;
  }

  .hero-img {
    height: auto;
  }
}

@media (min-width: 1000px) {
  .hero-section {
    background-image: url("../../assets/images/services-glacier_1500w.jpg");
  }
}

@media (min-width: 1200px) {
  .tile-section {
    margin: auto;
    max-width: 1100px;
  }
}
