<section class="project-page">
  <section class="header-section">
    <h1>Projects</h1>
  </section>
  <section
    class="project-section"
    *ngIf="{
      customer: data.currentCustomer$ | async,
      project: data.currentProject$ | async} as vm"
    >
     <div class="image-group" id="project">
      <img *ngIf="!vm.project.video"
        class="main-image {{vm.customer.customerId}}"
        
        [src]="'https://glaciermark.s3-us-west-1.amazonaws.com/images/projects/'+vm.project.src+'-detail.jpg'"
        [srcset]="'https://glaciermark.s3-us-west-1.amazonaws.com/images/projects/'+vm.project.src+'-detail_500w.jpg 500w, https://glaciermark.s3-us-west-1.amazonaws.com/images/projects/'+vm.project.src+'-detail.jpg, 800w'"
        [alt]="vm.project.projectText"
      />
      <video *ngIf="vm.project.video" controls>
        <source [src]="'../../../../assets/images/projects/'+vm.project.video+'.mp4'" type="video/mp4">
        <track label="English Subtitles" kind="subtitles" srclang="en" [src]="'../../assets/images/projects/'+vm.project.video+'.vtt'">
        Your browser does not support this video.
      </video>
    </div>
    <div class="project-text">
      <h2>{{vm.customer.customerName}}</h2>
      <h3>{{vm.project.projectText}}</h3>
      <p>{{vm.customer.customerSummary}}</p>
      <div class="client-buttons">
        <button
          (click)="previousProject()"
          name="previous project"
          >PREVIOUS PROJECT</button>
        <button
          (click)="nextProject()"
          name="next project"
          >NEXT PROJECT</button>
      </div>
    </div>
    <section class="thumbnail-section">
      <h3>All Projects For {{vm.customer.customerName}}</h3>
      <div class="thumbnails">
        <a
          (click)="switchProject(proj.projectId)"
          *ngFor="let proj of vm.customer.projects"
          >
          <img class="thumbnail"
            [src]="'https://glaciermark.s3-us-west-1.amazonaws.com/images/projects/'+proj.src+'-thumbnail.jpg'"
            [alt]="vm.project.projectText"
          />
          <div class="overlay">
            <p>{{proj.projectText}}</p>
          </div>
        </a>
      </div>
    </section>
  </section>
</section>

