<section class="project-page">
  <section class="header-section">
    <h1>Projects</h1>
  </section>
  <section
    class="project-section"
    *ngIf="{
      customerProjects: projectService.currentCustomer$ | async,
      project: projectService.currentProject$ | async } as vm"
    >
    <div class="image-group">
      <img
        class="main-image"
        [src]="'../../../../assets/images/projects/'+vm.project.src+'-detail.jpg'"
        [alt]="vm.project.projectText"
      />
        <a
          class="left"
          role="button"
          name="previous project"
          >
          <i class="material-icons">keyboard_arrow_left</i>
        </a>
        <a
          class="right"
          role="button"
          name="next project"
          >
          <i class="material-icons">keyboard_arrow_right</i>
        </a>
    </div>
    <div class="project-text">
      <h2>{{vm.project.customerName}}</h2>
      <h3>{{vm.project.projectText}}</h3>
      <p>{{vm.project.customerSummary}}</p>
    <div class="client-buttons">
      <button [routerLink]=''>PREVIOUS CLIENT</button>
      <button [routerLink]=''>NEXT CLIENT</button>
    </div>
    </div>
    <section class="thumbnail-section">
      <h3>All Projects For {{vm.project.customerId}}</h3>
      <div class="thumbnails">
        <a
          (click)="switchProject(proj.projectId)"
          *ngFor="let proj of vm.customerProjects"
          >
          <img
          class="thumbnail"
          [src]="'../../assets/images/projects/thumbnails/'+proj.src+'-thumbnail.jpg'"
          [alt]="proj.projectText"
          />
          <div class="overlay">
            <p>{{proj.projectText}}</p>
          </div>
        </a>
      </div>
    </section>
  </section>
</section>

<p>
  Product ID = {{ projectId }}
</p>
